.photo_gallery{
    position: relative;
    height:300px;
    width:100%;
}

.eventTitle{
    position: absolute !important;
    top:88%;
}

.activity_content{
    position: relative;
    height:400px;
    width:100%;
    overflow: scroll;
}

.orangeBtn{
    width:90px;
    height: 30px;
    font-size: 12px;
    text-align: center;
}

.row{
    height:40px;
}

.GreyBtn {
    width:90px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    border: none;
    font-family: "Poppins-SemiBold", sans-serif;
    color:#fff;
    border-radius: 28px!important;
    background-color: #CCCCCC!important;
}

a {
    text-decoration: none !important;
    color:white;
}