
.main_box{
    background-color: white;
}

.banner{
    position: relative!important;
    height: 150px;
    background-color: white;
}

.banner .carousel-inner{
    height:150px;
    overflow: hidden;
}

.banner .carousel-item{
    height:150px;
    overflow: hidden;
    align-items: center;
}

.banner .carousel-item .d-block{
    height:150px;
    width: 280px;
    overflow: hidden;
    margin: auto;
}

.eventJoined{
    height:50px;
}

.eventDetail{
    position: relative!important;
    height:130px;
    background-color: #1FC6AD;
    display: inline-block!important;
}

.timeline{
    height:85px;
    width:100px;
    margin-top:25px;
    text-align: center;
    align-items: center;

}

.eventcard{
    height:100px;
    width:220px;
    margin-top:10px;
}


.block{
    position: relative !important;
    height:90px;
    width:180px;
    margin: auto !important;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:15px;
    overflow: hidden;
}




.eventTitle{
    position: absolute !important;
    top:60%;
}

.eventLocation{
    position: absolute !important;
    top:78%;
    align-items: normal;
}

.row{
    padding: 0;
}


.searchBox{
    width: 290px !important;
    height: 16px !important;
    background-color: #F5F5F5;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 11px;
}


.searchBox > i {
    font-size: 11px;
    color: #777;

}

.searchBox > input{
    flex: 1;
    height: 14px;
    border: none;
    outline: none;
    font-size: 11px;
    padding-left: 10px;
    background-color: #F5F5F5;

}



.chatBox{
    position: relative!important;
    height: 80px;
    width: 280px;
    border-radius: 15px;
    background-color: white;

}

.content{
    overflow:auto;
    /*align-items: flex-end;*/
}


li {
    list-style-type: none;
}

.eventDelete {
    height:310px;
    width: 250px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    opacity:1;
    text-align: center;
    border-radius: 10px;
    border: 0;
    color: #979797;
    align-items: center;
}

.modal-backdrop
{
    opacity:0.5 !important;
}

.orangeBtn{
    height:25px;
    width: 180px;
    font-size: 10px;
    box-shadow: none;
}

.greyBtn{
    height:25px;
    width: 180px;
    font-size: 10px;
    color: #B8B8B8;
}