
.main_box{
    background-color: #F7F7F7;
}

.banner{
    position: relative!important;
    height: 150px;
    background-color: #F7F7F7;
}

.banner .carousel-inner{
    height:150px;
    overflow: hidden;
}

.banner .carousel-item{
    height:150px;
    overflow: hidden;
    align-items: center;
}

.banner .carousel-item .d-block{
    height:150px;
    width: 280px;
    overflow: hidden;
    margin: auto;
}

.eventJoined{
    height:50px;
}

.eventDetail{
    position: relative!important;
    height:130px;
    /*background-color: #1FC6AD;*/
    display: inline-block!important;
}

.timeline{
    height:85px;
    width:100px;
    margin-top:25px;
    text-align: center;
    align-items: center;

}



.block{
    position: relative !important;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:15px;
    overflow: hidden;
}




.eventTitle{
    position: absolute !important;
    top:50%;
}

.eventLocation{
    position: absolute !important;
    width:180px;
    height: 18px;
    overflow: hidden;
    top:75%;
    align-items: normal;
}

.row{
    padding: 0;
}


.searchBox{
    width: 290px !important;
    height: 16px !important;
    background-color: #F5F5F5;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 11px;
}


.searchBox > i {
    font-size: 11px;
    color: #777;

}

.searchBox > input{
    flex: 1;
    height: 14px;
    border: none;
    outline: none;
    font-size: 11px;
    padding-left: 10px;
    background-color: #F5F5F5;

}



.chatBox{
    position: relative!important;
    height: 80px;
    width: 280px;
    border-radius: 15px;
    background-color: white;

}

.content{
    overflow:auto;
}


li {
    list-style-type: none;
}

.eventDelete {
    height:310px;
    width: 250px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    opacity:1;
    text-align: center;
    border-radius: 10px;
    border: 0;
    color: #979797;
    align-items: center;
}

.modal-backdrop
{
    opacity:0.5 !important;
}

.orangeBtn{
    height:25px;
    width: 180px;
    font-size: 10px;
    box-shadow: none;
}

.greyBtn{
    height:25px;
    width: 180px;
    font-size: 10px;
    color: #B8B8B8;
}


.card {
    margin: 0;
    width: 180px;
    height: 90px;
    perspective: 1000px;
    border: none;

}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(-180deg);
}


.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--front h2 {
    color: #FFF;
    font-size: 32px;
}

.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}

.card__content {
    width: 100%;
    height: 100%;
}

.card__header {
    position: relative;
    padding: 30px 30px 40px;
}

.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0 0 50% 0;
}

.pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
}

.card__header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card__body {
    padding: 30px;
}

.card__body h3 {
    /*color: var(--dark);*/
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card__body p {
    /*color: var(--dark);*/
    font-size: 18px;
    line-height: 1.4;
}

.redButton{
    height:90px;
    width:30px;
    background-color: #FD716A;
    border: none;
    z-index: 7;
    padding: 0;

}

.yellowButton{
    height:90px;
    width:30px;
    background-color:#FEBD2C;
    border: none;
    z-index: 7;
    padding: 0;
}



.smallBlock{
    width:100px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

button:focus {
    outline:#979797;
}


button:hover{
    cursor: pointer;
    border: #979797;
    outline: #979797;
}

.block .coverImg img{
    min-width: 180px;
    min-height: 90px;
}

.nav{
    background-color:  #F7F7F7;
    border:none;

}
.nav-item{
    width:162px;
    border:none;


}


.tab-pane{
    background-color: white;
    padding: 0;
    min-height: 400px;

}
.tab-content{


}


.botbar{
    /*background-color: t;*/

}

.semiSC_4{
    text-align: center;
}

