
.chatBox{
    position: relative;
    height:555px;
    width:330px;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom:0;

}

.form-control {
    height:30px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.messageBlock{
    height:auto;
}

.messageBlock.row{
    height:80px;!important;
}


.chat-list {
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
    margin-bottom: 15px;
    overflow: auto;
    color: #ffffff;
    /*display:flex;*/
}

.chat-list .chat-img {
    float: left;
    width: 35px;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: white;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.12);
}

.chat-list .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.chat-list .chat-body {
    margin-left: 10px;
    padding-bottom: 10px;
    float: left;
    width: auto;
    max-width: 60%;
}

.chat-list .time{
    float: right;
}

.li {
    padding-bottom: 10px;
}

/*.chat-list .in .chat-message:before {*/
/*    left: -12px;*/
/*    border-bottom: 20px solid transparent;*/
/*    border-right: 20px solid #5a99ee;*/
/*}*/

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 20px;
    text-align: left;
    width:auto;
    max-width:60%;
}

.chat-list .out .chat-message {
    background: forestgreen;
}

.chat-list .out .time{
    float: left;
}

/*.chat-list .out .chat-message:before {*/
/*    right: -12px;*/
/*    border-bottom: 20px solid transparent;*/
/*    border-left: 20px solid #fc6d4c;*/
/*}*/

/*.card .card-header:first-child {*/
/*    -webkit-border-radius: 0.3rem 0.3rem 0 0;*/
/*    -moz-border-radius: 0.3rem 0.3rem 0 0;*/
/*    border-radius: 0.3rem 0.3rem 0 0;*/
/*}*/
/*.card .card-header {*/
/*    background: #17202b;*/
/*    border: 0;*/
/*    font-size: 1rem;*/
/*    padding: .65rem 1rem;*/
/*    padding: .65rem 1rem;*/
/*    position: relative;*/
/*    font-weight: 600;*/
/*    color: #ffffff;*/
/*}*/

