.topbar{

}
.searchBox2{
    width: 250px !important;
    height: 16px !important;
    background-color: #F5F5F5;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 12px;
}

.content{
    overflow: auto;
    z-index:3
}

.searchBox2 > input{
    flex: 1;
    height: 14px;
    border: none;
    outline: none;
    font-size: 11px;
    padding-left: 10px;
    background-color: #F5F5F5;

}


.friendBox{
    position: relative!important;
    height: 80px;
    width: 270px;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.15);
}

.friendBox img{
    height:50px;
    width:50px;
}

.orangeBtn{
    width:20px;
    height: 30px;
    font-size: 12px;
    text-align: center;
}

