

.block{
    position: relative !important;
    height:180px;
    width:100%;

}

.eventTitle{
    position: absolute !important;
    top:66%;
}

.eventLocation{
    position: absolute !important;
    top:76%;
}

.row{
    padding: 0;
}


.searchBox{
    width: 180px !important;
    height: 16px !important;
    background-color: #F5F5F5;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 11px;
}


.searchBox > i {
    font-size: 11px;
    color: #777;

}

.searchBox > input{
    flex: 1;
    height: 14px;
    border: none;
    outline: none;
    font-size: 11px;
    padding-left: 10px;
    background-color: #F5F5F5;

}