/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.infowindow{
    height : 180px;
    width: 180px;
    overflow: scroll;

}

.gmnoprint{
    display: none;
}

.main_box{
    position:relative;
}
.back{
    position: absolute !important;
    top: 5%;
    left: 5%;
}