
#carouselExampleIndicators{
    margin-top: -25px;
}

.topbar_white_short{
    z-index: 2;
}

.postBox{
    width:330px;
    text-align: justify;
}
.description{
    width:auto;
    text-align: justify;

}

