@font-face {
    font-family:"PingFang SC Medium";
    src: url("font/PingFang-SC-Bold.ttf") format("truetype");
}
@font-face {
    font-family:"PingFang SC SemiBold";
    src: url("font/PingFang-SC-Semibold.ttf") format("truetype");
}

@font-face {
    font-family:"Poppins-Black";
    src: url("font/Poppins-Black.ttf") format("truetype");
}

@font-face {
    font-family:"Poppins-SemiBold";
    src: url("font/Poppins-SemiBold.ttf") format("truetype");
}

img {
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

html, body {height: 100%;}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eaeaea;
    text-align: center;
    font-family: "PingFang SC Medium", serif;
    color: #B1B1B1;
    font-size: 11px;
}

.box {
    height: 100%;
    max-height:700px;
    width: 100%;
    max-width: 330px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
}

.main_box {
    height: 100%;
    max-height:700px;
    width: 100%;
    max-width: 330px;
    padding: 0;
    margin: 0 auto;
    background-color: #fff;
}

.bot_bar{
    position:absolute;
    bottom: 0;

}

.term {
    height: 100%;
    min-height:600px;
    width: 100%;
    max-width: 280px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    border: 0;

}

.notification {
    height: 100%;
    min-height:350px;
    width: 100%;
    max-width: 280px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    border: 0;
    color: #979797;
}


.back{
    float: left;
}

.title {
    font-family: "Poppins-Black", serif;
    color: #22343D;
    font-size: 26px;
    text-align: left;
}

.semiSC {
    font-family: "PingFang SC SemiBold", serif;
    color: #606060;
    font-size: 13px;
}

.semiSC_2 {
    font-family: "PingFang SC SemiBold", serif;
    color: #4F658C;
    font-size: 12px;
    text-align: left;
}

.forgot {
    float: right;
    margin-bottom:40px;
    color: #B1B1B1;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    background-color: #F5F5F5;
    color: #979797;
    border-radius: 15px;
    border:0;
    margin-bottom:0;
    font-size: 11px;
}

.form-control::placeholder {
    color: #979797;
    opacity: 1;
}

.form-group .form-control {padding-left: 65px;}

.form-group .form-control-icon {
    position: absolute;
    padding-left: 25px;
    padding-top: 23px;
    z-index: 2;
    display: block;
    pointer-events: none;
}

.member {margin-top: 20px;}

.signup {
    color: #7C7C7C;
    text-decoration: underline;
}

.greenbox {
    background-color:#1FC6AD;
    border-radius: 15px;
    border:0;
    display: none;
}
.greentext {
    color: #fff;
    text-align: left;

}

.orangeBtn {
    border: none;
    height: 35px;
    width: 190px;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
    color:#fff;
    border-radius: 28px;
    background-image: linear-gradient(45deg,#fd9568,#fece63);
    box-shadow: 0 8px 2px -2px rgba(254, 211, 99, 0.5);
}

.orangeCircleBtn {
    border: none;
    height: 35px;
    width: 35px;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
    color:#fff;
    border-radius: 35px;
    background-image: linear-gradient(45deg,#fd9568,#fece63);
    box-shadow: 0 8px 2px -2px rgba(254, 211, 99, 0.5);
    text-align: center;
}


.round label {
    background-color: #fff;
    border: 2px solid #707070;
    border-radius: 50%;
    cursor: pointer;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
}

.round label:after {
    border: 2px solid #707070;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 9px;
}
.round {position: relative;}
.round input[type="checkbox"] {opacity: 0.01;}
.round input[type="checkbox"]:checked + label {border-color: #707070;}
.round input[type="checkbox"]:checked + label:after {opacity: 1;}




.profile-pic-div{
    height: 200px;
    width: 200px;
    position: relative;
    left:50px;

}

#photo{
    height:10%;
    width: 10%;
}

#file{
    display: none;
}

.centeredText{
    position: relative;
    text-align: center;
    color: #aaaaaa;

}