@font-face {
    font-family:"PingFang SC Medium";
    src: url("font/PingFang-SC-Bold.ttf") format("truetype");
}
@font-face {
    font-family:"PingFang SC SemiBold";
    src: url("font/PingFang-SC-Semibold.ttf") format("truetype");
}

@font-face {
    font-family:"Poppins-Black";
    src: url("font/Poppins-Black.ttf") format("truetype");
}

@font-face {
    font-family:"Poppins-SemiBold";
    src: url("font/Poppins-SemiBold.ttf") format("truetype");
}

img {
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

html, body {height: 100%;}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eaeaea;
    text-align: center;
    font-family: "PingFang SC Medium", serif;
    color: #B1B1B1;
    font-size: 11px;
}

.outer_box{
    height: 100%;
    max-height:700px;
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
}

.box {
    height: 700px;
    width: 330px;
    padding: 30px;
    margin: 0 auto;
    background-color: #F7F7F7;
    text-align: center;
}


.main_box {
    height: 700px;
    width: 330px;
    padding: 0;
    margin: 0 auto;
    background-color:#F7F7F7;
}


.switch {
    position: relative!important;
    display: inline-block!important;
    width: 52px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute!important;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F0F0F0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 28px;
    border: 2px solid #F0F0F0;
}

.slider:before {
    position: absolute!important;
    content: "";
    height: 24px;
    width: 24px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 50%;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.16);
}

input:checked + .slider {
    background-color: #fff;
    border: 2px solid #FBB031;
}


input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background-color: #FCB43E;
    height: 23px;
    width: 23px;
    bottom: 0;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0);
}



.bg_box {
    position: relative;
}

.content{
    height : 453px;
    width : 330px;
}



.mainContent{
    position: absolute;
    top: 10%;
    height : 610px;
    width : 100%;
    /*padding: 15px;*/

}


.eventDetail{
    position:relative;
}

.topbar{
    height: 140px;
    position: relative;
    border-radius: 0 0 28px 28px;
    background-image: linear-gradient(45deg,#f8a03f,#fad961);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.topbar_white{
    height: 140px;
    position: relative;
    border-radius: 0 0 28px 28px;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.topbar_short{
    height: 80px;
    position: relative;
    border-radius: 0 0 28px 28px;
    background-image: linear-gradient(45deg,#f8a03f,#fad961);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}



.botbar{
    position: relative;
    height:107px;
    width:100%;
    display: inline-block;
}

.botbar_text{
    position: relative;
    background-color:#F5F5F5;
    height:57px;
    width:100%;
    display: inline-block;
    border-color: #979797;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);

}



.row{
    position: relative;
    margin-left: 0;
    margin-right:0;
    background-color: transparent;

}



.createEvent{
    position: relative;
}


.notification {
    height: 100%;
    min-height:350px;
    width: 100%;
    max-width: 280px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    border: 0;
    color: #979797;
}


.back{
    float: left;
}

.white-back{
    float: left;
    position: absolute;
    top: 8%;
    left: 8%;
}

.event-step{
    float: left;
    position: absolute;
    top: 8%;
    left: 70%;
}


.title {
    font-family: "Poppins-Black", serif;
    color: #22343D;
    font-size: 26px;
    text-align: left;
}

.title_centered {
    font-family: "Poppins-Black", serif;
    color: #22343D;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.title_centered_white {
    font-family: "Poppins-Black", serif;
    color: white;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.title_left_white {
    font-family: "Poppins-Black", serif;
    color: white;
    font-size: 20px;
    text-align: left;
    position: relative;
}

.semiSC {
    font-family: "PingFang SC SemiBold", serif;
    color: #606060;
    font-size: 13px;
}

.semiSC_2 {
    font-family: "PingFang SC SemiBold", serif;
    color: #4F658C;
    font-size: 12px;
    text-align: left;
}

.semiSC_3 {
    font-family: "PingFang SC SemiBold", serif;
    color: black;
    font-size: 16px;
    text-align: left;
}

.semiSC_4 {
    font-family: "PingFang SC SemiBold", serif;
    color: #ABABAB;
    font-size: 10px;
    text-align: left;
    opacity: 1;
}

.semiSC_5 {
    font-family: "PingFang SC SemiBold", serif;
    color: #000000;
    font-size: 12px;
    text-align: left;
    opacity: 1;
}

.semiSC_6 {
    font-family: "PingFang SC SemiBold", serif;
    color: red;
    font-size: 12px;
    text-align: center;
    opacity: 1;
}


.semiSC_7 {
    font-family: "PingFang SC SemiBold", serif;
    color: red;
    font-size: 12px;
    text-align: center;
    opacity: 1;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    background-color: #F5F5F5;
    color: #979797;
    border-radius: 15px;
    border:0;
    margin-bottom:0;
    font-size: 11px;
}



.form-control::placeholder {
    color: #979797;
    opacity: 1;
}

.form-group .form-control {padding-left: 65px;}

.form-group .form-control-icon {
    position: absolute;
    padding-left: 25px;
    padding-top: 23px;
    z-index: 2;
    display: block;
    pointer-events: none;
}


.searchBar{
    top:53%;
    left:6%;
    position: absolute;
}

.searchBar2{
    position: relative;
}

.form-control-search {
    position:relative;
    box-sizing: content-box;
    height: 10px;
    padding: 6px;
    background-color: #F5F5F5;
    color: #979797;
    border-radius: 15px;
    border:0;
    margin-bottom:0;
    font-size: 10px;
}

.form-control-search::placeholder {
    color: #979797;
    opacity: 1;
}

.form-group .form-control-search {
    padding-left: 30px;
    width: 80%;
}

.form-group .form-control-icon-search {
    position: absolute;
    height: 18px;
    padding-left: 20px;
    padding-top: 5px;
    z-index: 2;
    display: block;
    pointer-events: none;
}


.form-control-description {
    position:relative;
    box-sizing: content-box;
    height: 16px;
    left:0;
    color: #979797;
    margin-bottom:0;
    font-size: 10px;
    border-width: 0 0 1px;
    border-color: #979797;
    width:100%;
}

.form-control-description::placeholder {
    color: #979797;
    opacity: 1;
}

.member {margin-top: 20px;}

.signup {
    color: #7C7C7C;
    text-decoration: underline;
}

.orangeBtn {
    border: none;
    height: 35px;
    width: 190px;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
    color:#fff;
    border-radius: 28px;
    background-image: linear-gradient(45deg,#fd9568,#fece63);
    box-shadow: 0 8px 2px -2px rgba(254, 211, 99, 0.5);
}

.orangeCircleBtn {
    position: relative;
    z-index: auto;
    border: none;
    height: 45px;
    width: 45px;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 25px;
    color:#fff;
    border-radius: 45px;
    background-image: linear-gradient(45deg,#fd9568,#fece63);
    box-shadow: 0 8px 2px -2px rgba(254, 211, 99, 0.5);
    text-align: center;

}

.nextStep{
    position: absolute;
    top: 88%;
    left: 20%;
}


.SearchBox{
    width: 100px;
    top:40%;
    left:95%;
    position: absolute;
}


.round label {
    background-color: #fff;
    border: 2px solid #707070;
    border-radius: 50%;
    cursor: pointer;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
}

.round label:after {
    border: 2px solid #707070;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 9px;
}
.round {position: relative;}
.round input[type="checkbox"] {opacity: 0.01;}
.round input[type="checkbox"]:checked + label {border-color: #707070;}
.round input[type="checkbox"]:checked + label:after {opacity: 1;}



.button{
    padding-left: 0;
    padding-right: 0;
    margin-top:10px;
    width: 100%;
    height: 40px;
    color: black;
    background-color: #FFFFFF;
    border:1px solid transparent;
}



.Navigation{
    background-color: white;
    height:64px;
}

.navigationRow{
    position: absolute;
    width:100%;
    top:28%;
}

.close{
    float: right;
    margin-bottom:40px;
    color: #B1B1B1;
}


